body{
	padding:10px;
	background-color: #ccccbb;
}

.quote {
	border: 1px solid #3b7a99;
    border-left: 5px solid #026d8d;
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 30px 40px;
}

.title {
	margin: 50px 0;
}